.contact-support {
    font-family: "Kaisei HarunoUmi", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    background: url('../assets/blank background.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.contact-support-container {
    height: 113vh;
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ebebeb;
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-support-title {
    display: block;
    font-weight: bold;
    margin-bottom: 50px;
    margin-left: 185px;
    color: #000000;
}

.contact-support-title .contact-support-icon {
  font-size: 40px;
  font-weight: bold;
}


.contact-support-label {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #000000;
  }

  .contact-support-input {
    border: 2px solid #9e9e9e;
    background: #ffffff;
    color: #000000;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 7px 250px 6px 10px;
  }

  .contact-support-input::placeholder {
    font-size: 13px;
    color: #949494;
  }
  
  .contact-support-textarea {
    background: #ffffff;
    color: #000000;
    height: 150px;
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #9e9e9e;
    border-radius: 10px;
    box-sizing: border-box;
  }

  .contact-support-textarea::placeholder {
    font-size: 13px;
    color: #949494;
  }
  
  .contact-support-button {
    background-color: #017e12;
    width: 180px;
    color: #fff;
    border: 2px solid #049742;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 30px auto;
    display: block;
  }
  
  .contact-support-button:hover {
    background-color: #007210;
    color: #b1b1b1;
  }
  
  .contact-support-logo {
    display: block;
    margin: 0 auto; 
    margin-top: 140px;
    margin-bottom: 30px;
    width: 210px;
    height: 80px;
  }

  .contact-support-text {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    margin-top: 10px;
    color: #000000;
  }