footer {
    background:rgb(5, 5, 5);
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-size: 12px;
  }
  
  .footer-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: rgb(20, 18, 16);
    background: transparent;
  }

  .footer-container .footer-text {
    color: #fff;
  }
  
  .footer-logo {
    display: block;
    margin: auto; 
    padding: 0;
    width: 12%;
    height: 20px;
    border-radius: 10px;
  }
  
  