.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-top: 8px;
    margin-right: 2%;
}

.header .logo {
    display: inline-block;
    margin-left: 40%;
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 0;
    width: 180px;
    height: 70px;
}

.nav-menu {
    display: flex;
}

.nav-menu li {
    padding: 0 1rem;
    position: relative;
}

.nav-menu li a {
    font-size: 1.2rem;
    font-weight: 500;
    color: #ffffff;
    position: relative;
}

.nav-menu li a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    bottom: -10px;
    left: 0;
    background: linear-gradient(to right, #e0d313, #ddb608, #eb9008, #e07109, #f06203);
    transition: 0.5s;
  }
  
.nav-menu li a:hover::before {
    width: 88%;
  }

.hamburger {
    display: none;
}

