* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.sidebar-container {
  display: flex;
  background: #312308;
}

.sidebar {
  background: linear-gradient(to bottom, #141414c0, #050505, #000000c0);
  color: #fff;
  height: 110vh;
  width: 250px;
  transition: all .4s;
}

.top_section {
  display: flex;
  align-items: center;
  padding: 20px 19px;
}

.logo {
  width: 130px;
  height: auto;
  margin-left: 5px;
  margin-bottom: 10px;
}

.bars {
  display: flex;
  font-size: 18px;
}

.sidebar-link {
  display: flex;
  color: #ffffff;
  padding: 23px 20px;
  font-size: 19.2px;
  gap: 3px;
  transition: all 0.5s;
}

.sidebar-link:hover {
  width: 100%;
  height: auto;
  border-radius: 40px;
  border: 2px solid #e75c00;
  background: linear-gradient(to right, #000000da, #1b1b1bda, #616161e7);
  color: #e75c00;
  transition: 0.1s;
}

.sidebar-link:hover .link_text {
  transition: width 0.5s, height 0.5s;
}

.active {
  background: #ff7b00ea;
  color: #ffffff;
}

.icon {
  width: 31px;
  height: 31px;
  display: auto;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  background-color: #7c7c7e;
  border-radius: 6px;
  padding: 5px 5px;
}

.icon, .link_text {
  font-size: 21px;
}

.dropdown-menu {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s ease-out;
}

.dropdown-menu.active {
  max-height: 500px;
}
