* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.signup-background {
    font-family: "Kaisei HarunoUmi", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../assets/blank background.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.signup-wrapper {
    width: 500px;
    background: linear-gradient(to bottom, #000000, #00000049, #20202054);
    border: 2px solid #462200ce;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgb(24, 26, 179);
    color: #807d7d;
    border-radius: 30px;
    padding: 30px 40px;
}

.signup-wrapper h1 {
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
}

.signup-wrapper h3 {
    font-size: 14px;
    text-align: center;
    margin-top: 12px;
    color: #ffffff;
}

.signup-wrapper .signup-input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0 40px;
}

.signup-input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(88, 88, 88, 0.2);
    border-radius: 15px;
    font-size: 16px;
    color: #fff;
    padding: 20px 20px 20px;
    margin-top: 5px;
    transition: border-color 0.3s;
}

.signup-input-box input:hover {
    border-color: rgba(241, 122, 53, 0.5);
}

.signup-input-box .icon {
    position: absolute;
    right: 20px;
    top: 35%;
    transform: translateY(-50);
    font-size: 16px;
}

.signup-input-box .signup-label {
    color: #ffffff;
}

.signup-input-box input::placeholder {
    color: #3b3b3b;
    font-size: 15px;
}

.signup-wrapper button {
    width: 55%;
    height: 50px;
    background: linear-gradient(to right, #000000da, #0c0c0cda, #424242e7);
    border: 1px solid rgb(0, 0, 0);
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 105px;
}

.signup-register-link {
    font-size: 13px;
    text-align: center;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 20px;
}

.signup-register-link p a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.signup-register-link p a:hover {
    color: #f07706;
    transition: 0.3s;
}